{{#d-modal-body class="select-thumbnail" title=modal_title}}
  <h3>{{i18n 'thumbnail_selector.topic_title_prefix'}} "{{modal_topic_title}}"</h3>
  <span class="select-thumbnail">
  {{#each thumbnailList.thumbnailselection as |thumbnail|}}
    <img class="select-thumbnail-options" src={{thumbnail.image}}
    {{action "selectThumbnail" thumbnail.image thumbnail.post_id}}>
  {{/each}}
  </span>
{{/d-modal-body}}
