{{preview-unbound topic.thumbnails featured=true}}
<div class="featured-details">
  <div class="content">
    <div class="excerpt">
      {{{topic.excerpt}}}
    </div>
    <span class="user">
      {{topic.topic_post_username}}
    </span>
  </div>
</div>
