{{preview-unbound topic.thumbnails featured=true}}
{{#if showDetails}}
  <div class="featured-details">
    <div class="excerpt">
      {{{topic.excerpt}}}
    </div>
    <a class="mention">
      {{topic.topic_post_username}}
    </a>
  </div>
{{/if}}
