{{#if hasTopics}}
  {{#if showFeaturedTitle}}
    <div class="featured-title">
      {{featuredTitle}}
    </div>
  {{/if}}
  <div class="topics">
    {{#each featuredTopics as |t|}}
      {{tlp-featured-topic topic=t}}
    {{/each}}
  </div>
  {{#if showFeaturedTags}}
    <div class="featured-tags">
      {{#each featuredTags as |tag|}}
        {{discourse-tag tag}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}
