{{#if hasTopics}}
  {{#if showFeaturedTitle}}
    <div class="featured-title">
      {{featuredTitle}}
    </div>
  {{/if}}
  <div class="topics">
    {{#each featuredTopics as |t|}}
      {{tlp-featured-topic topic=t}}
    {{/each}}
  </div>
  {{#if showFeaturedLink}}
    <div class="featured-link">
      {{discourse-tag siteSettings.topic_list_featured_images_tag}}
    </div>
  {{/if}}
{{/if}}
