<label class="control-label">{{i18n 'tlp.user_prefs.title'}}</label>
{{preference-checkbox labelKey="tlp.user_prefs.prefer_low_res_thumbnail" checked=model.custom_fields.tlp_user_prefs_prefer_low_res_thumbnails}}