{{#unless context.topic.is_suggested}}
  {{#unless context.site.mobileView}}
    {{#if context.topic.show_thumbnail}}
      <div class="topic-preview">
        {{preview-unbound context.topic.thumbnails}}
      </div>
    {{/if}}
  {{/unless}}
{{/unless}}
