{{#unless context.topic.is_suggested}}
  {{#unless context.site.mobileView}}
    {{#if context.topic.show_thumbnail}}
      <div class="topic-preview">
        <a href='{{context.topic.url}}'>
          {{preview-unbound context.topic.thumbnails}}
        </a>
      </div>
    {{/if}}
  {{/unless}}
{{/unless}}
